<div fxFill fxLayout="column">
    <mat-card class="m-1" fxLayout="row" fxLayoutAlign="center center">
        <h3>You are at Detail.</h3>
    </mat-card>
    <div class="m-1" fxLayout="row" fxLayoutAlign="center center">
        <button type="button" class="m-1" color="primary" mat-raised-button [routerLink]="['/form']">Form</button>
        <button type="button" class="m-1" color="warn" mat-raised-button [routerLink]="['/main']">Main</button>
        <button type="button" class="m-1" mat-raised-button [routerLink]="['/']">Back</button>
    </div>
</div>