<div fxFill fxLayout="column">
    <div fxFlex fxLayout="row" class="m-1" fxLayoutAlign="center stretch">
        <mat-card fxFlex="85" fxLayout="column">
            <form [formGroup]="form" (ngSubmit)="saveKey()" fxLayout="column">
                <mat-form-field appearance="outline"> <!-- API Input -->
                    <input type="text" matInput formControlName="api" placeholder="Your API key for NewsAPI.">
                    <mat-error *ngIf="form.get('api').hasError('required')">Please an API key for NewsAPI.</mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end">
                    <button type="submit" class="mr-1" mat-raised-button [disabled]="form.invalid" color="primary">Save Key</button>
                    <button type="button" class="mr-1" (click)="deleteKey()" mat-raised-button [disabled]="form.invalid" color="accent">Delete Key</button>
                    <button type="button" class="mr-1" mat-raised-button [routerLink]="['/']">Back</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>