<div fxFill fxLayout="column">
    <mat-card class="m-1" fxLayout="row" fxLayoutAlign="center center">
        <h3>You are at Main.</h3>
    </mat-card>
    <div class="m-1" fxLayout="row" fxLayout="row" fxLayoutAlign="center center">
        <button type="button" class="m-1" fxFlex="50" color="primary" mat-raised-button [routerLink]="['/form']">Setting</button>
    </div>
    <div *ngFor="let i of list" fxFlex fxLayoutAlign="column" fxLayoutAlign="center stretch">
        <button mat-raised-button class="m-1" (click)="gotoDetail(i.alpha2Code)" fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
            <h3>{{i.name}}</h3>
            <img  src="{{i.flag}}" alt="">
        </button>
    </div>
</div>
